.todoClass{
    padding: 0px;
}
.firstClass{
    padding: 20px;
}

.secondClass{
    height: 50px;
    font-size: 20px;
    border-radius: 7px;
    border-color: brown;
    border-width: 3px;
}
.selectClass{
    height:50px;
    font-size: 20px;
}
.thirdClass{
    height: 50px;
    font-size: 20px;
    background-color: blue;
    border-radius:5px;
    color:brown;
}
.fourthClass{
   display:inline-block;
   background-color: antiquewhite;
   width: 500px;
   border-radius: 5px;
   border: 3px solid black;
}
.h1-class{
  background-color: whitesmoke;
}
.fifthClass{
    display:inline-block;
}
#liId{
    height:30px;
    font-size: 20px;
    border-radius: 5px;
}
.sixthClass{
 float:right;
 align-items: right;
 align-content: right;
 height: 30px;
 color:blue;
}
.seventhClass{
    float:right;
    height: 30px;
    width: 30px;
    color:red;
}